<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>procesos.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioadmin</servlet-name>
        <servlet-class>admin.inicioadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaU</servlet-name>
        <servlet-class>admin.consultaU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaU</servlet-name>
        <servlet-class>admin.altaU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>procesos.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarU</servlet-name>
        <servlet-class>admin.eliminarU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminar</servlet-name>
        <servlet-class>procesos.eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiosU</servlet-name>
        <servlet-class>admin.cambiosU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambio</servlet-name>
        <servlet-class>procesos.cambio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeXML</servlet-name>
        <servlet-class>procesos.changeXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioalumno</servlet-name>
        <servlet-class>alumno.inicioalumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioprofe</servlet-name>
        <servlet-class>profesor.inicioprofe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirArchivoAudio</servlet-name>
        <servlet-class>profesor.subirArchivoAudio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirejercicio</servlet-name>
        <servlet-class>profesor.subirejercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroPreg</servlet-name>
        <servlet-class>procesos.registroPreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grupos</servlet-name>
        <servlet-class>admin.grupos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarios</servlet-name>
        <servlet-class>admin.usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaG</servlet-name>
        <servlet-class>admin.altaG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroGrupo</servlet-name>
        <servlet-class>procesos.registroGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaG</servlet-name>
        <servlet-class>admin.consultaG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaEjercicio</servlet-name>
        <servlet-class>procesos.altaEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>procesos.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>el404</servlet-name>
        <servlet-class>procesos.el404</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirEjemplo</servlet-name>
        <servlet-class>profesor.subirEjemplo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirArchivo</servlet-name>
        <servlet-class>profesor.subirArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>procesos.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asignarEjemplo</servlet-name>
        <servlet-class>profesor.asignarEjemplo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroEjemplo</servlet-name>
        <servlet-class>procesos.registroEjemplo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejemplos</servlet-name>
        <servlet-class>alumno.ejemplos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verEjemplo</servlet-name>
        <servlet-class>alumno.verEjemplo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lecturas</servlet-name>
        <servlet-class>alumno.lecturas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejercicios</servlet-name>
        <servlet-class>alumno.ejercicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verLectura</servlet-name>
        <servlet-class>alumno.verLectura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarG</servlet-name>
        <servlet-class>admin.eliminarG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarg</servlet-name>
        <servlet-class>procesos.eliminarg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resolverEjercicio</servlet-name>
        <servlet-class>alumno.resolverEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarRespuesta</servlet-name>
        <servlet-class>procesos.guardarRespuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarej</servlet-name>
        <servlet-class>procesos.eliminarej</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calificar</servlet-name>
        <servlet-class>procesos.calificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calificarEjercicio</servlet-name>
        <servlet-class>profesor.calificarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alumnosEjercicio</servlet-name>
        <servlet-class>profesor.alumnosEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verCalf</servlet-name>
        <servlet-class>alumno.verCalf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calfGrupo</servlet-name>
        <servlet-class>profesor.calfGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ejercicioCanvas</servlet-name>
        <servlet-class>profesor.ejercicioCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirLectura</servlet-name>
        <servlet-class>profesor.subirLectura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarLectura</servlet-name>
        <servlet-class>procesos.guardarLectura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearEjercicioCanvas</servlet-name>
        <servlet-class>profesor.crearEjercicioCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirEjercicioCanvas</servlet-name>
        <servlet-class>procesos.subirEjercicioCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>solucionEjercicio</servlet-name>
        <servlet-class>profesor.solucionEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearSolucionCanvas</servlet-name>
        <servlet-class>profesor.crearSolucionCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirSolucion</servlet-name>
        <servlet-class>procesos.subirSolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarEjercicio</servlet-name>
        <servlet-class>profesor.modificarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCanvas</servlet-name>
        <servlet-class>profesor.modificarCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambioCanvas</servlet-name>
        <servlet-class>procesos.cambioCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seleccionarCanvas</servlet-name>
        <servlet-class>alumno.seleccionarCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resolver</servlet-name>
        <servlet-class>alumno.resolver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resolverCanvas</servlet-name>
        <servlet-class>procesos.resolverCanvas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seleccionarLecturaEjercicio</servlet-name>
        <servlet-class>alumno.seleccionarLecturaEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarAlumno</servlet-name>
        <servlet-class>profesor.buscarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calificarC</servlet-name>
        <servlet-class>procesos.calificarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>subirCalificacion</servlet-name>
        <servlet-class>procesos.subirCalificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarSolucion</servlet-name>
        <servlet-class>alumno.buscarSolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verSolucion</servlet-name>
        <servlet-class>alumno.verSolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiosG</servlet-name>
        <servlet-class>admin.cambiosG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambioG</servlet-name>
        <servlet-class>procesos.cambioG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeGrupoXML</servlet-name>
        <servlet-class>procesos.changeGrupoXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioadmin</servlet-name>
        <url-pattern>/inicioadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaU</servlet-name>
        <url-pattern>/consultaU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaU</servlet-name>
        <url-pattern>/altaU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarU</servlet-name>
        <url-pattern>/eliminarU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminar</servlet-name>
        <url-pattern>/eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiosU</servlet-name>
        <url-pattern>/cambiosU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambio</servlet-name>
        <url-pattern>/cambio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeXML</servlet-name>
        <url-pattern>/changeXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioalumno</servlet-name>
        <url-pattern>/inicioalumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioprofe</servlet-name>
        <url-pattern>/inicioprofe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirArchivoAudio</servlet-name>
        <url-pattern>/subirArchivAudio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirejercicio</servlet-name>
        <url-pattern>/subirejercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroPreg</servlet-name>
        <url-pattern>/registroPreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grupos</servlet-name>
        <url-pattern>/grupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarios</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaG</servlet-name>
        <url-pattern>/altaG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroGrupo</servlet-name>
        <url-pattern>/registroGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaG</servlet-name>
        <url-pattern>/consultaG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaEjercicio</servlet-name>
        <url-pattern>/altaEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>el404</servlet-name>
        <url-pattern>/el404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirEjemplo</servlet-name>
        <url-pattern>/subirEjemplo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirArchivo</servlet-name>
        <url-pattern>/subirArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asignarEjemplo</servlet-name>
        <url-pattern>/asignarEjemplo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroEjemplo</servlet-name>
        <url-pattern>/registroEjemplo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejemplos</servlet-name>
        <url-pattern>/ejemplos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verEjemplo</servlet-name>
        <url-pattern>/verEjemplo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lecturas</servlet-name>
        <url-pattern>/lecturas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejercicios</servlet-name>
        <url-pattern>/ejercicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verLectura</servlet-name>
        <url-pattern>/verLectura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarG</servlet-name>
        <url-pattern>/eliminarG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarg</servlet-name>
        <url-pattern>/eliminarg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resolverEjercicio</servlet-name>
        <url-pattern>/resolverEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarRespuesta</servlet-name>
        <url-pattern>/guardarRespuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarej</servlet-name>
        <url-pattern>/eliminarej</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calificar</servlet-name>
        <url-pattern>/calificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calificarEjercicio</servlet-name>
        <url-pattern>/calificarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alumnosEjercicio</servlet-name>
        <url-pattern>/alumnosEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verCalf</servlet-name>
        <url-pattern>/verCalf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calfGrupo</servlet-name>
        <url-pattern>/calfGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ejercicioCanvas</servlet-name>
        <url-pattern>/ejercicioCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirLectura</servlet-name>
        <url-pattern>/subirLectura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarLectura</servlet-name>
        <url-pattern>/guardarLectura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearEjercicioCanvas</servlet-name>
        <url-pattern>/crearEjercicioCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirEjercicioCanvas</servlet-name>
        <url-pattern>/subirEjercicioCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solucionEjercicio</servlet-name>
        <url-pattern>/solucionEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearSolucionCanvas</servlet-name>
        <url-pattern>/crearSolucionCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirSolucion</servlet-name>
        <url-pattern>/subirSolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarEjercicio</servlet-name>
        <url-pattern>/modificarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCanvas</servlet-name>
        <url-pattern>/modificarCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambioCanvas</servlet-name>
        <url-pattern>/cambioCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seleccionarCanvas</servlet-name>
        <url-pattern>/seleccionarCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resolver</servlet-name>
        <url-pattern>/resolver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resolverCanvas</servlet-name>
        <url-pattern>/resolverCanvas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seleccionarLecturaEjercicio</servlet-name>
        <url-pattern>/seleccionarLecturaEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarAlumno</servlet-name>
        <url-pattern>/buscarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calificarC</servlet-name>
        <url-pattern>/calificarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>subirCalificacion</servlet-name>
        <url-pattern>/subirCalificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarSolucion</servlet-name>
        <url-pattern>/buscarSolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verSolucion</servlet-name>
        <url-pattern>/verSolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiosG</servlet-name>
        <url-pattern>/cambiosG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambioG</servlet-name>
        <url-pattern>/cambioG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeGrupoXML</servlet-name>
        <url-pattern>/changeGrupoXML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/el404</location>
    </error-page>
</web-app>
